# Project files
/.idea
*.iml
/classes
/build/classes
/build/filteredCCSources
/build/libs
/build/generated
/build/reports
/build/teaVM
/build/webMin
/build/tmp
/build/resources
/out
/node_modules
/.gradle
/.vscode

# Exclude generated sources
/src/web/ts/styles.css.d.ts
